Package: com.opa334.libundirect
Name: libundirect
Version: 1.1.1
Architecture: iphoneos-arm
Description: Patchfinder and rebinder for objc_direct methods
Maintainer: opa334
Author: opa334
Section: System
Tag: role::developer
